entrypoint = "main.sql"
run = "sqlite3 --init main.sql"
modules = ["nodejs-20", "python-3.11"]

[nix]
channel = "stable-24_05"

[agent]
expertMode = true
integrations = ["javascript_openai:1.0.0", "stripe:1.0.0"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "app_test"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "next_dev"

[[workflows.workflow]]
name = "app_test"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node app.js"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "next_dev"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=5000 npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 42571
externalPort = 3001

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "start"]
build = ["npm", "run", "build"]

[userenv]

[userenv.shared]
NEXT_PUBLIC_SUPABASE_URL = "https://jkuywlhakplgufstocya.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImprdXl3bGhha3BsZ3Vmc3RvY3lhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjM4MjQ0NDcsImV4cCI6MjA3OTQwMDQ0N30.A84O2ibpmRq8cSkU8GL-BcydxOuLo24wIQfENRZeV5o"
SUPABASE_SERVICE_ROLE_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImprdXl3bGhha3BsZ3Vmc3RvY3lhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MzgyNDQ0NywiZXhwIjoyMDc5NDAwNDQ3fQ._fQ77De05v8nsoFtrHO7Pl0KD21R970hbh1zhmqVCxE"
JWT_SECRET = "smart-inbox-jwt-secret-key-2025"
